*{
    margin:0 ;
    padding: 0%;
}
body{
    background-color: rgb(224, 217, 206);
}
.container{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.containerdiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
#email{
    font-size:20px;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input{
    margin-left: 2rem;
    padding: 2px;
font-size: 20px;
}
#password{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-align: center;
}
button{
    padding: 0.4rem;
    font-size: 18px;
   
}
.buttoncontainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
align-items: center;
justify-content: center;
}
.Login{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1.25px solid white;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
}
.Login:hover{
    background-color: rgb(8, 8, 104);
}
.Back{
    border: 1px solid rgb(27, 1, 1);
    border-radius: 5px;
}